@import url("Roboto.css");

html {
	font-family: Roboto, sans-serif;
}

.page-heading {
	margin: 0 auto;
}

@media only screen {
	body {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		margin: 0;

		display: flex;
		flex-direction: column;
	}

	nav {
		background-color: black;
		color: white;
		padding: 1em;
	}

	main {
		overflow: auto;
		padding: 1em;
	}
}

@media only print {
	section {
		page-break-inside: avoid;
	}
}
